{% extends "base.html" %}
{% block title %}Create a new post{% endblock title %}
{% block content %}
{% if user.is_authenticated %}
    <h1 class="col-5" style="color: whitesmoke;">Add Post</h1>
    <br />

    <div class="form-group col-10" style="color: white;">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{form.as_p}}
            {{form.media}}
            <button class="btn btn-success"> Save </button>
            
        </form>
        
    </div>
{% else %}   
    You are not authenticated to add post
{% endif %}
{% endblock %}
 


