{% extends "base.html" %}
{% block title %}Edit your Post{% endblock title %}
{% block content %}

    {% if user.is_authenticated %}
        <h1 class="col-5">Edit your Post</h1>
        <br />

        <div class="form-group">
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{form.as_p}}
                {{form.media}}
                <button class="btn btn-success"> Update </button>
            </form>
        </div>

    {% else %}
        You are not allowed here!
    {% endif %}

{% endblock %}



